.addbtn{
    
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; transition: transform 0.45s ease,
            border-color 0.3s ease,
            box-shadow 0.2s ease;
        background-color: 0.3s ease;transform: transition 0.45s, background-color 0.3s ease border-color 0.3s ease transform 0.45s ease box-shadow 0.2s ease;
}

.addbtn:hover {
    background-color: #005bb5;
    transform: scale(1.01);
}

.removebtn{
    background-color: #e00;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-size: 14px; transition: transform 0.45s ease,
            border-color 0.3s ease,
            box-shadow 0.2s ease;
        background-color: 0.3s ease;transform: transition 0.45s, background-color 0.3s ease border-color 0.3s ease transform 0.45s ease box-shadow 0.2s ease;
}

.removebtn:hover {
    background-color: #c00;
    transform: scale(1.01);
}