body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: 
    radial-gradient(circle at 20% 20%, rgba(183, 0, 255, 0.25), transparent 40%),
    radial-gradient(circle at 80% 10%, rgba(100, 0, 255, 0.25), transparent 40%),
    radial-gradient(circle at 50% 90%, rgba(80, 0, 180, 0.3), transparent 50%),
    linear-gradient(180deg, #050007 0%, #000000 100%);
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

h1{
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: -40%;
  pointer-events: none;
  z-index: -1;

  background: repeating-linear-gradient(
    135deg,
    rgba(183, 0, 255, 0.18) 0px,
    rgba(183, 0, 255, 0.18) 6px,
    rgba(0, 0, 0, 0) 10px,
    rgba(0, 0, 0, 0) 10px,
    rgba(0, 0, 0, 0) 30px
  );

  filter: blur(0.6px);
  opacity: 0.55;

  animation: barrasFlutuando 38s linear infinite;
}


@keyframes barrasFlutuando {
  from { transform: translate3d(-10%, -10%, 0); }
  to   { transform: translate3d(5%, 10%, 0); }
}
