 body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
         Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background-color: rgb(107, 107, 107);

 }

 .loginpage {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincontainer {
  width: 400px;
  padding: 40px 20px;
  border-radius: 35px;
  background-color: #1b1b1b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


 .loginitems {
     display: flex;
     justify-content: center;
     align-items: center;
     
 }

 .butao {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 18px;
 }

 .butao button {
     width: 290px;
     height: 40px;
     border-radius: 20px;
     border: none;
     background-color: #7040c9;
     color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     cursor: pointer;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
     transition:
         background-color 0.3s ease,
         border-color 0.3s ease,
         transform 0.45s ease,
         box-shadow 0.2s ease;

 }

 .butao button:hover {
     background-color: #8053e6;
     transform: scale(1.02);
 }

 .loginitems input {
     width: 250px;
     height: 35px;
     border-radius: 5px;
     border: solid 2px #5a1eb9;
     padding: 0 10px;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     transition: transform 0.45s ease,
         border-color 0.3s ease,
         box-shadow 0.2s ease;
     background-color: 0.3s ease;



 }

 .loginitems input:hover {
     border-color: #d166ff;


 }

 .loginitems input:focus {
     outline: none;
     border-color: #d166ff;
     box-shadow: 0 0 8px #d166ff;

 }

 .discord {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 15px;
     color: white;
     font-family: 'Poppins', sans-serif;
     cursor: pointer;

 }

 .discord button {
    width: 290px;
     background-color: rgb(33, 33, 180);
     border: solid 2px rgb(33, 33, 180);
     padding: 10px 20px;
     border-radius: 5px;
     color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     cursor: pointer;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
     transition:
         background-color 0.3s ease,
         border-color 0.3s ease,
         transform 0.45s ease,
         box-shadow 0.2s ease;


 }

 .discord button:hover {
    background-color: #0400ff;
     transform: scale(1.02);
     border-color: (33, 33, 180);
 }
       
 .discord-icon {
     width: 20px;
     height: 20px;
     margin-right: 8px;
     position: relative;
     top: 4px;
     right: -4px;
 }

 p{
    position: relative;
    top: 5px;
 }
 
 @media (max-width: 780px) {

 .logincontainer {
  width: min(350px, 92vw);
  padding: 32px 16px;
  border-radius: 35px;
  background-color: #1b1b1b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


 }
