    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
            Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: rgb(107, 107, 107);
    }


    .navcontainer {
        background-color: rgba(0, 0, 0, 0.466);
        padding: 5px 10px;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    }

    .navleft,
    .navcenter,
    .navright {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    .navleft ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 40px;


    }

    .navleft ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: center;
        transition: transform 0.25s ease;
        color: white;
        text-decoration: none;
        font-family: poppins, sans-serif;
        font-size: 16px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out, color 0.3s;


    }

    .navleft ul li a:hover {
        color: rgb(200, 200, 200);
        transform: scale(1.1);


    }

    .navcenter {
        display: flex;
        justify-content: center;

    }

    .navright {
        display: flex;

    }

    .navright ul {
        display: flex;
        list-style: none;
    }

    .navright a {
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: poppins, sans-serif;
        font-size: 16px;
        border: solid 1px rgb(183, 0, 255);
        background-color: rgb(183, 0, 255);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 10px;
        transition:
            background-color 0.3s ease,
            border-color 0.3s ease,
            transform 0.45s ease,
            box-shadow 0.2s ease;

    }


    .navright a:hover {
        background-color: rgb(100, 0, 255);
        border-color: rgb(100, 0, 255);
        transform: scale(1.1);


    }


    .navcenter input {
        display: flex;
        transform-origin: center;
        width: 250px;
        padding: 8px 12px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        box-shadow: 0 2px 4px rgba(232, 0, 253, 0.61);
        border: solid 2px rgb(183, 0, 255);
        transition: transform 0.45s ease,
            border-color 0.3s ease,
            box-shadow 0.2s ease;
        background-color: 0.3s ease;

    }

    .navcenter input:hover {
        transform: scale(1.1);
        border-color: #d166ff;

    }

    .navcenter input:focus {
        outline: none;
        border-color: #d166ff;
        box-shadow: 0 0 8px #d166ff;

    }

   .navcenter input::placeholder {
       padding: 0 30px;
   } 
    .lateral span,
    span,
    span {
        display: none;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: white;
        border-radius: 2px;
    }
.menumob {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 80px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(183, 0, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  padding: 10px;
  z-index: 999;
}

.menumob ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menumob li {
  padding: 10px;
  border-radius: 8px;
}

.menumob li:hover {
  background-color: rgba(183, 0, 255, 0.25);
}

.menumob a {
  color: white;
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-size: 16px;
  display: block;
}

.userBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  font-size: 22px;
}


    

    @media (max-width: 480px) {

        .navcontainer {
            flex-direction: column;
            padding: 0 10px;


        }

        .navleft,
        .navcenter,
        .navright {
            width: 50%;
            justify-content: center;
        }

        .navleft ul {
            display: none;
            gap: 15px;
            flex-wrap: wrap;
            margin-right: 35%;
        }

        .navcenter input {
            width: 100%;
            max-width: 300px;
            margin-top: 5%;
            position: relative;
            top: 15px;
        }

        .navright a {
            display: block;
            font-size: 14px;
            padding: 8px 12px;
            position: absolute;
            top: 25px;
            right: 15px;


        }

        .lateral span,
        span,
        span {
            display: block;
            margin-left: -165px;


        }

        .lateral {
            display: block;
            position: absolute;
            top: 30px;

            
        }
    }